<!DOCTYPE html>
<html lang="en">
<%- include(projectroot + '/theme/includes/head.ejs') %>
<body>
  <%- include(projectroot + '/theme/includes/header.ejs') %>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="post-title p-name" itemprop="name headline">
            <%= page.title %>
          </h1>
          <p class="post-meta">
            <time class="dt-published" datetime="<%= new Date(page.date).toISOString() %>" itemprop="datePublished">
              <%= new Date(page.date).toDateString() %>
            </time>
          </p>
        </header>
        <div class="post-content e-content" itemprop="articleBody">
          <%- content %>
        </div>
      </article>
    </div>
  </main>
  <%- include(projectroot + '/theme/includes/footer.ejs') %>
</body>
</html>